@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}

.main {
    display: flex;
}

.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    background-image: url("image/cont2.jpg");
    background-size: cover;
    color: white;
}

.cont1 .first {
    font-size: 50px;
    font-weight: 500;
}

.cont1 .second {
    max-width: 35vw;
    padding: 30px;
    color: rgba(234, 230, 230, 0.851);
    text-align: center;
}

.cont1 .third button {
    background-color: rgb(42, 165, 75);
    color: whitesmoke;
    padding: 15px 35px;
    border: 2px solid rgb(42, 165, 75);
    border-radius: 10px;
    font-size: 15px;
}

.cont1 .third button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(42, 165, 75);
}

.cont2{
    width: 30vw;
    height: 100vh;
}

.form-head {
    margin-top: 25vh;
    padding-left: 35px;
}

.form-head h2 {
    font-size: 40px;
    font-weight: 100;
    font-family: sans-serif;
}

.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background: #fff;
    border-radius: 5px;
}

.whole .title{
    line-height: 80px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px 5px 0 0 ;
    color: #fff;
    padding: 0;
    cursor:default;
}

.title span{
    filter: drop-shadow(5px 3px 2px rgba(0, 0, 0, 0.25));
}

.whole form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
    width: 500px;
}

.whole form .row input{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding: 0 10px 0 50px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: #8d7c2be4;
}

.whole form .row i{
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: #504111c7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 5px 0 0 5px;

}

.whole form .botton {
    margin-top: 30px;
}

.whole form .botton input{
    border: none;
    padding: 0;
    background: #8d7c2be4;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.whole form .botton input:hover{
    background-color: #241d07d1;
    border: 2px solid #504111c7;
}

.whole form .pass{
    margin: -8px 0 20px 0;
    font-size: 15px;
}

.whole form .pass a{
    text-decoration: none;
    color: #8d7c2be4;
}

.whole form .pass:hover{
    text-decoration: underline;
}

.whole form .signup_link{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}

.whole form .signup_link a{
    text-decoration: none;
    color: #483f14e4;
}

.whole form .signup_link a:hover{
    text-decoration: underline;
}