*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "poppins";
    height: 100%;
    overflow: hidden;
}

.slanted-line{
    position: absolute;
    top: -100%;
    left: 50%;
    height: 300vh;
    width: 100vw;
    background-color: black;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    transform-origin: 0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.run-cool-box{
    animation-name: cool-box;
}

.run-cool-box-reverse{
    animation-name: cool-box-reverse;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left{
    margin: auto;
    display: flex;
    height: 100vh;
    width: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.run-right-left{
    animation-name: right-left;
}

.run-right-left-reverse{
    animation-name: right-left-reverse;
}

.login-text{
    width: max-content;
}

hr{
    width: 40%;
    margin: auto;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}

.login-credentials{
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.user-box, .password-box{
    margin: 10px;
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
}

span{
    position: absolute;
    right: 20px;
    font-size: 10px;
}

input:focus{
    outline: none;
}

#user, #password{
    width: 333px;
    font-size: 16px;
    padding: 10px 5px;
    border: 0px;
    border-bottom: 2px solid rgb(58, 174, 178);
}

.welcome-text{
    margin: auto;
    padding: 10%;
    display: flex;
    height: 100vh;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    color: white;
}

.run-left-right{
    animation-name: left-right;
}

.run-left-right-reverse{
    animation-name: left-right-reverse;
}

p{
    margin: 30px 0px;
}

@keyframes cool-box{
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-135deg);
    }
}

@keyframes cool-box-reverse{
    0%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes right-left{
    0%{
        transform: translateX(0vw); 
    }
    100%{
        transform: translateX(-100vw); 
    }
}

@keyframes right-left-reverse{
    0%{
        transform: translateX(-100vw); 
    }
    100%{
        transform: translateX(0vw); 
    }
}

@keyframes left-right{
    0%{
        transform: translateX(-100vw); 
    }
    100%{
        transform: translateX(100vw); 
    }
}

@keyframes left-right-reverse{
    0%{
        transform: translateX(100vw); 
    }
    100%{
        transform: translateX(-100vw); 
    }
}

#login{
    font-size: 20px;
    margin: 10px;
    background-color: black;
    color: white;
    width: 290px;
    height: 39px;
    border-radius: 20px;
}

#signout{
    font-size: 20px;
    margin: 10px;
    background-color: white;
    color: black;
    width: 290px;
    height: 39px;
    border-radius: 20px;
}